#crypto-show-wrapper {
    height: 100vh;
    .portfolio-crypto-card {
        background-color: cadetblue;
        width: 600px;
        border: 2px solid black;
        border-radius: 20px;
    }
}

