<br>
<h1> My Portfolio </h1>
<br>
<div id="crypto-show-wrapper">
<% if current_user.portfolios.empty?%>
  <span>nothing in your portfolio</span>
<% else %>
  <% current_user.cryptos.each do |crypto| %>
    <div class="portfolio-crypto-card">
      <h3><%= crypto.name %></h3>
    </div>
  <% end %>
<% end %>
</div>
